.outer-div {
  display: flex;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 100vh;
  justify-content: center;
  /* margin: 0 auto; */
}

.myForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  /* margin: auto; */
  background-color: #fff;
}

.text-area {
  width: 80%;
  margin-left: 5%;
  background-color: #f8f8f8;
}

.form-fields-div {
  /* border: 1px solid #000; */
  margin-top: 10;
}

.change-password {
  margin-top: 5%;
}
.new-password {
  margin-top: 5%;
}
.confirm-password {
  margin-top: 5%;
}

.text-muted {
  margin-left: 5% !important;
}

.sms-email-label {
  margin-left: 5% !important;
  /* margin-top: 5%; */
}
p {
  margin-left: 5%;
}

/* p .msg {
  margin-top: 1px;
} */

.notice {
  margin-top: 2% !important;
  margin-left: 5%;
  width: 100%;
  /* border: 1px solid #000; */
}

h4 {
  margin-left: 5%;
  margin-top: 5%;
}

.form-label {
  margin-left: 5%;
}

.buttons-div {
  display: flex;
  margin-top: 10%;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid #000 !important; */
}

.form-button .save-changes {
  background-color: #fff !important;
  margin-bottom: 30%;
}

.toggle-content {
  display: flex;
  margin-top: 5%;
  width: 100%;
  flex-direction: row;
  height: 10%;
  /* border: 1px solid #000; */
}

.forgot-password {
  margin-left: 5%;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .buttons-div {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .myForm {
    width: 100%;
    height: 100vh;
  }
}
