.modal {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  color: #333;
  font-family: Poppins; /* Ensuring font-family for all text */
}

.networksRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

.networkLogo {
  width: 50px;
  cursor: pointer;
  opacity: 0.6;
}

.networkLogo.selected {
  opacity: 1;
  border: 2px solid #4caf50;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 20px;
}

.formLabel {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0F3FB2;
}

.input {
  width: 60%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #ccc; /* Default border color */
  color: #333;
  font-family: Poppins; /* Ensuring font-family for all text */
}

.inputActive {
  border-color: #0F3FB2; /* Border color when input is active */
}
/* DataComponent.module.css */

.tabs {
 
  border-bottom: 2px solid  #ccc;
  margin-bottom: 30px;
 
}
.tabsInner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.tab {
  border-top: 2px solid  #ccc;
  padding: 10px ;
  
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.selectedTab {
  color: #0F3FB2; /* Color for the selected tab */
  background-color: #0F3FB2;
  color: white;
  border-bottom: 2px solid #0F3FB2; 
  border-radius: 50px;
}

.deselectedTab {
  color: #666; /* Color for non-selected tabs */
}

.dataPlansRow {
  display: flex;
  flex-direction: column;
  max-height: 170px;
  overflow-y: auto;
  gap: 1rem;
}

.dataPlansRow::-webkit-scrollbar {
  visibility: hidden;
}

.dataPlanButton {
  background: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
  color: #333; /* Added text color */
  width: 100%;
  height: 60px;
  font-family: Poppins; /* Ensuring font-family for all text */
}

.selectedDataPlan {
  border-color: #0F3FB2; /* Border color for selected data plan */
  color: #333; /* Added text color */
}

.message {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ccc; /* Same color as deselected tab text */
  font-size: 14px;
  font-family: Poppins; /* Ensuring font-family for all text */
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-family: Poppins; /* Ensuring font-family for all text */
}

.formGroupCheckbox {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.formLabelCheckbox {
  margin-top: 10px;
  margin-left: 8px;
  font-family: Poppins; /* Ensuring font-family for all text */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonSubmit,
.buttonCancel {
  background-color: #0F3FB2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  font-family: Poppins; /* Ensuring font-family for all text */
}

.buttonCancel {
  background-color: #f44336;
}

@media (max-width: 620px) {
 
  .tabs {
    gap: 1rem;
  }
  .tab {
    font-size: 14px;
  }
  .selectedTab {
    padding: 5px;
    border-bottom: 2px solid #0F3FB2;
  }
}
