.mainDiv {
  margin: auto;
  top: -40px;

  width: 100%;
  max-width: 500px;
  background-color: white;
  /* padding: 1rem; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 50px;
  color: #333;
  position: relative;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.backup{
  padding-top: 50px;
}
.input::placeholder {
  font-size: 12px;
  color:rgb(130, 130, 130);
}
.header {
padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  position: absolute;

}

.header h2{
  font-size: 25px;
  font-family: Poppins;
  color:black;
  margin: 0; 
}
.infoTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.infoTable td {
  padding: 10px;
  /* border-bottom: 1px solid #ddd; */
}

.infoTable td:first-child {
  font-weight: 500;
  color: #0f3fb2;
}

.infoTable td:last-child {
  color: #979797;
}

.infoTable tr:last-child td {
  border-bottom: none;
}
.tableLine {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;

  height: 2px; /* Adjust height if needed */
  background-color: #979797;
  margin-top: 5px; /* Adjust spacing as needed */
}

.formlabel1{
 display: flex;
 align-items: center;
 justify-content: center;
  color: #0F3FB2;

}

.cancelIcon {
  position: absolute;
  left: 20px; /* Position the icon at the left corner */
  top: 78%;
  transform: translateY(-50%);
}

.modalTitle {
  font-size: 25px;
  font-family: Poppins;
  color: #fff;
  margin: 0; /* Remove default margin */
}

.formGroup {
  margin-bottom: 40px;
  margin-top: 50px; margin-bottom: 40px;
  margin-top: 50px;
}

.formLabel {
  display: flex;
  font-size: 25px;
  font-family: Poppins;
  margin-bottom: 10px;
  color: #0f3fb2;
}

.activeText {
  color: #0f3fb2;
}

.formGroup input {
  width: 70%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.input {
  border: 1px solid #ccc;
}

.inputActive {
  border-color: #0f3fb2;
}



.dropdown {
  position: relative;
}

.select {
  width: 70%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.dropdownIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.errorMessage {
  color: red;
  margin-top: 30px;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.buttonSubmit,
.buttonCancel {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttonSubmit {
  background-color: #0f3fb2;
  color: white;
}

.buttonCancel {
  background-color: #dedada;
  color: #000;
}
.amountDiv {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  margin-top: 0px; /* Adjust the margin if needed */
}

.amountText {
  font-size: 20px; /* Adjust the font size if needed */
  color:#0f3fb2; /* Set the color as needed */
}
.successMessage {
  color: #0f3fb2; /* Set the color to your desired hex code */
}
.eyeIcon2 {
  margin-left: 260px;
  margin-top: -61px;
}


@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mainDiv {
    margin-top: 180px;
  }
}

@media only screen and (min-width: 1025px) {
  .mainDiv {
    margin-top: 200px;
  }
}
