.mainDiv {
  margin: auto;
  margin-top: -200;
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 2rem;
  border-radius: 50px;
  color: #333;
  position: relative;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input::placeholder {
  font-size: 12px; /* Adjust this value as needed */
  color:rgb(130, 130, 130);; /* Optional: Change the color of the placeholder text */
}
.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  color: white;
  background-color: rgb(15, 63, 178);
  border-radius: 30px 20px 0 0;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 80px;
  z-index: 0;
}

.cancelIcon {
  position: absolute;
  left: 20px; /* Position the icon at the left corner */
  top: 50%;
  transform: translateY(-50%);
}

.modalTitle {
  font-size: 25px;
  font-family: Poppins;
  color: #fff;
  margin: 0; /* Remove default margin */
}

.formGroup {
  margin-bottom: 40px;
  margin-top: 50px;
}

.formLabel {
  display: flex;
  font-size: 25px;
  font-family: Poppins;
  margin-bottom: 10px;
  color: #0f3fb2;
}

.activeText {
  color: #0f3fb2;
}

.formGroup input {
  width: 70%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.input {
  border: 1px solid #ccc;
}

.inputActive {
  border-color: #0f3fb2;
}



.dropdown {
  position: relative;
}

.select {
  width: 70%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.dropdownIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.errorMessage {
  color: red;
  margin-top: 30px;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.buttonSubmit,
.buttonCancel {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttonSubmit {
  background-color: #0f3fb2;
  color: white;
}

.buttonCancel {
  background-color: #dedada;
  color: #000;
}
.amountDiv {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  margin-top: 0px; /* Adjust the margin if needed */
}

.amountText {
  font-size: 20px; /* Adjust the font size if needed */
  color:#0f3fb2; /* Set the color as needed */
}
.successMessage {
  color: #0f3fb2; /* Set the color to your desired hex code */
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mainDiv {
    margin-top: 180px;
  }
}

@media only screen and (min-width: 1025px) {
  .mainDiv {
    margin-top: 200px;
  }
}
