.css-13cymwt-control {
  /* color: black !important; */
  font-family: AgrandirBold !important;
  color: red !important;
  border: none !important;
}
.css-qbdosj-Input {
  /* background: red !important; */
  border: none !important;
}
