.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  max-height: 900px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: AgrandirBold;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-TextBold.otf);
}
@font-face {
  font-family: AgrandirGrandLight;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-GrandLight.otf);
}
@font-face {
  font-family: AgrandirWideLight;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-WideLight.otf);
}

@font-face {
  font-family: AgrandirHeavy;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-GrandHeavy.otf);
}
@font-face {
  font-family: AgrandirRegular;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-Regular.otf);
}
@font-face {
  font-family: AgrandirTight;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-Tight.otf);
}
@font-face {
  font-family: AgrandirBlackItalic;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-WideBlackItalic.otf);
}
@font-face {
  font-family: AgrandirTinItalic;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-ThinItalic.otf);
}
@font-face {
  font-family: AgrandirNarrow;
  src: url(./assets/fonts/Agrandir-Font/Agrandir-Narrow.otf);
}
