.no-background{
    background-color: #ffffff !important;
}

.login-card-title{
    color: #2762f5;
    font-weight: bolder;
    font-size: larger;
}

.form-label{
    font-size: 11px !important;
    font-weight: bold;
}

.login-input{
    height: 55px;
    border: 2px solid #000 !important;
}

.login-btn{
    height: 55px;
}

.btn-custom{
    background-color: #2e67ee !important;
    color: #fff !important;
    font-weight: bolder !important;
    font-size: larger !important;
}

.login-anchor{
    text-decoration: none !important;
}

.login-forgot-password{
    font-size: 12px;
    font-weight: bold;
}

.login-sign-up{
    color: #082e88;
    font-weight: bolder;
    font-size: larger;
}