.payment-page-container {
  background: #fff;
  height: fit-content;
  padding: 50px 40px;
  margin-top: 8rem;
  border-radius: 10px;
  margin-bottom: 30px;
  width: fit-content;
}
.pay_logo {
  width: 170px;
  margin-left: -1rem;
}
@media screen and (max-width: 620px) {
  .payment-page-container {
    margin-top: 2rem;
  }
}
.logo-holder {
  /* margin-top: 80px; */
  margin-bottom: 20px;
}

.modal-content {
  /* background: none !important; */
  border: none !important;
}
.card-divv {
  /* margin-left: -20px; */
}
@media screen and (max-width: 620px) {
  .card-divv {
    margin-left: 0;
  }
}
@media (max-width: 1024px) and (min-width: 621px) {
  .payment-page-container {
    width: fit-content;
    padding: 20px 40px;
  }
}
