.TopNav {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  padding: 30px 50px 10px 10px;
  background-color: #0b0230;
  border-bottom: solid 1px rgb(19, 18, 18) 0230 !important;
  margin-bottom: 50px;
  position: fixed;
  z-index: 40 !important;
  width: 83.2% !important;
  height: 12% !important;
}
.TopNav-logo {
  width: 100%;
  border: 1px solid #000 !important;
}

@media screen and (max-width: 620px) {
  .TopNav {
    display: flex!important;
    padding: 0px !important;
    position: absolute !important;
    right: 5%;
    top: 3%;
    flex-direction: row !important;
    width: fit-content !important;
    height: fit-content !important;
    padding: 0% !important;
    margin-top: 0rem !important;
    margin-bottom: 0;
    /* border: 1px solid white; */
    /* z-index: 0 !important; */
  }

  .pageTitle {
    display: none !important;
  }

  .TopNav-logo {
    width: 230px;
    border: 1px solid white;
    padding: 6px;
    position: absolute;
    display: none;
  }
  .search-con{
    display: none;
  }
  .notificationIcon{
    margin: 0 !important;
    padding: 0 !important;
    width: 20px;
  }
}
.notificationIcon {
  color: #fff;
  bottom: 12.5%;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 46px;
  margin-left: 26px;
}

.pageTitle h2 {
  font-family: AgrandirBold;
  font-size: large !important;
  margin-bottom: -0.5rem;
  margin-left: 2rem;
  color: #fff;
}
@media screen and (max-width: 620px) {
  .pageTitle h2 {
    margin-left: 0rem;
  }
}
.pageTitle {
  flex-grow: 1;
}
@media screen and (min-width: 620px) {
  .side-nav-logo {
    display: none;
  }
}
.side-nav-logo {
  margin-top: -20px;
}
@media (max-width: 1024px) and (min-width: 621px) {
  .pageTitle h2 {
    font-size: 20px;
  }
  .notificationIcon {
    width: 20px;
  }
  .user_select {
    margin-top: -0.5rem;
  }
}
