#Helpform{
  width: 80%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  
} 
#Helpform form{
  background-color: white;
  margin-left: 5rem;
  padding: 3rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  border-radius: 10px;
}
#Helpform form .name{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#Helpform form .name main{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#Helpform form .name main input{
  width: 100%;
}
#Helpform .email_con{
  width: 100%;
}
#Helpform form input, form select{
  background: rgba(255, 255, 255, 0.002);
  border: 1px solid #F0F2F3;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 10px 10px;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
#Helpform form div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#Helpform ::placeholder{
  font-size: 14px;
  color: gray;
  opacity: .2;
}
#Helpform form div .number{
  display: flex;
  gap: 10px;
}
#Helpform .number{
  flex-direction: row;
}

/* #Helpform .phno{
    width: 90% !important;
    margin-left: 3%;
    font-family: AgrandirBold !important;
    z-index: 999;
    background-color: white;
    margin-top: -5px;
} */
#Helpform #email{
  margin-left: 0;
  width: 100%;
}
#Helpform form label{
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #011B33;
}
#Helpform .submitCon{
  margin-bottom: 0rem;
}
#Helpform #submit{
  background: #0051FF;
  border-radius: 5px;
  color: white;
  padding-block: 10px;
  width: 100%;
}
#Helpform .valid{
  text-align: right;
  font-size: 12px;
}
#Helpform article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-left: 3rem;
  
}
#Helpform article header, article main{
  color: white;
  display: flex;
  flex-direction: column;
}
#Helpform article header{
  text-align: left;
}
#Helpform article header h1{
  font-family: Segoe UI;
  font-size: 36px;
  font-weight: 900;
}
#Helpform article header p{
  margin-left: 0px;
  width: 70%;
  text-align: left;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.20000000298023224px;
}
#Helpform article main{
 gap: 1rem; 
 text-align: left;
}
#Helpform article main h2{
  font-family: Segoe UI;
  font-size: 33px;
  font-weight: 900;
  line-height: 43px;
}
#Helpform article main p{
  margin-left: 0rem;
  font-family: Segoe UI;
  font-size: 19px;
  font-weight: 400;
  line-height: 29px;
}
#Helpform ul{
  list-style: none;
  margin-left: -1.6rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: 800;
  line-height: 18px;
}
#Helpform ul a{
  text-decoration: none;
  color: white;
}
#Helpform ul li img{
  margin-right: 10px;
  margin-left: -.5rem;
}
#Helpform small{
  margin-top: 3rem;
  text-align: left;
  color: white;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
#Helpform small img{
  margin-right: 10px;
}

@media (max-width:1200px) {
  #Helpform article header h1, article main h2{
    font-size: 25px;
    line-height: 32px;
  }
#Helpform article header p{
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width:1100px){
  #Helpform{
    flex-direction: column;
  }
  #Helpform form{
    margin-left: 2rem;
  }
}

@media (max-width:800px){
  #Helpform{
    margin-left: -1rem;
    margin-right: -5rem;
    overflow-x: hidden;
    width: 100%;
  }
}