.outer {
  display: flex;
  width: 80%;
  height: 100%;
  margin-top: 5%;
  margin-left: 10%;
  /* justify-content: center; */
}

@media screen and (max-width: 620px) {
  .outer {
    width: 100%;
    margin-left: 0%;
  }
}

.inner-form {
  display: flex;
  height: 90%;
  flex-direction: column;
  margin: auto;
  width: 60%;
  background-color: #fff;
}

.fields-control {
  margin-top: 5%;
  height: 50%;
  /* border: 1px solid #000; */
}

.button-control {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40%;
  margin-left: 5%;
  /* margin-top: 5%; */
  /* border: 1px solid #000; */
  flex-direction: row;
  width: 80%;
}

.phone-number-div {
  display: flex;
  width: 80%;
  margin-left: 5%;
  flex-direction: row;
  margin-bottom: 40%;
  /* border: 1px solid #000; */
}

.phone-number-label {
  width: 100%;
}

.phone-number {
  margin-top: auto;
  margin-left: 2%;
  /* border: 1px solid #000 !important; */
  width: 98%;
}

.textarea .country-code {
  margin-left: 5%;
  width: 100%;
}

/* .save-img-btn {
  width: 20%;
} */

@media screen and (max-width: 700px) {
  .inner-form {
    width: 100%;
  }

  .button-control {
    flex-direction: column;
    margin-top: 10%;
  }

  .phone-number {
    width: 100% !important;
  }

  .change-img {
    width: 50%;
  }

  .remove-img {
    width: 50%;
    border: 1px solid #4e3eaf;
  }
}
