.labels {
  font-family: AgrandirBold !important;
}

.text-area {
  font-family: AgrandirBold !important;
}

.outer {
  display: flex;
  width: 80%;
  height: 100%;
  margin-top: 10%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .outer {
    width: 100%;
    margin-left: 0%;
  }
}

.inner-form {
  display: flex;
  height: 100%;
  width: 65%;
  overflow: auto;
  flex-direction: column;
  background-color: #fff;
}

.fields-control {
  margin-top: 5%;
  height: 100%;
  /* border: 1px solid #000; */
}

.button-control {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  margin-top: 5%;
  margin-left: 5%;
  font-family: AgrandirBold !important;
}

.phone-number-div {
  display: flex;
  width: 90%;
  margin-left: 3%;
  flex-direction: row;
  border: 1px solid #000;
}

.phone-number-label {
  width: 100%;
  font-family: AgrandirBold !important;
}

@media screen and (max-width: 700px) {
  .inner-form {
    width: 100%;
    /* height: 100%; */
  }
  .textarea {
    width: 100%;
    font-family: AgrandirBold !important;
  }
  .button-control {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .phone-number-div {
    width: 92%;
    /* margin: auto; */
    flex-direction: row;
    border: 1px solod #000 !important;
  }
}
