.mCOnn{
  width: 100% !important;
}
.merchant-container {
  height: fit-content;
  background: #10133f;
  border-radius: 20px;
  padding: 24px !important;
  width: 100% !important;
}
.merchant-container .shop-more{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 !important;
}
.merchant-container .shop-more h4{
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}
.merchant_COn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  width: 100%;
}
@media screen and (max-width: 620px) {
  .merchant-header h3 {
    text-align: left;
  }
  .merchant_COn{
    margin-left: -1rem;
  }
  .merchant-header span, .merchant-header a{
    display: none;
  }

  .merchant-container {
    margin-left: 0px;
  }
}
.merchant-header {
  display: flex;
  padding-left: 1rem;
  width: 100%;
}
.merchant-header h3 {
  font-family: AgrandirBold;
  font-size: large !important;
  color: #fff;
}
.merchant_search{
  margin-top: -10px;
}

.merchants {
  margin-top: 20px;
}
.merchant-container h4 {
  color: #fff;
  font-family: AgrandirBold;
  flex-grow: 1;
}
.details-link {
  color: #fff !important;
  font-family: AgrandirBold;
  text-decoration: none;
}

@media (max-width: 1024px) and (min-width: 621px) {
  .merchant-header h3 {
    font-size: 20px;
  }
  .details-link {
    display: none;
  }
  .merchant_search {
    margin-top: -1rem;
  }
  .merchant-container {
    margin-left: 20px;
  }
}
