.verified {
  display: flex;
}
.verified h4 {
  color: rgb(196, 192, 192);
  font-family: AgrandirBold;
  font-size: 16px;
  padding: 0 !important;
  margin: 0 !important;
}

.verified img {
  /* height: 40px; */
  width: 30px;
}
.apple-logo {
  /* height: 40px; */
  width: 25px;
}

.merchant-logo {
  flex-grow: 1;
}
.merchants-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
.logo-1 {
  margin-right: 5px;
}
.mer_logos{
  width: 30px;
}
@media screen and (max-width: 620px) {
  .merchant-logo .logo-1 {
    height: 20px;
    width: 20px;
  }
  .merchant-logo .logo-2 {
    height: 20px;
    width: 60px;
  }
}
@media (max-width:1024px) and (min-width: 621px){
  .verified img{
    margin-left: -.5rem;
    margin-right: -.5rem;
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
}
