.mainDiv {
  margin: auto;
  width: 90%;
  margin-top: 120px;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  color: #333;
}

.modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.networksRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

.networkLogo {
  width: 50px;
  cursor: pointer;
  opacity: 0.6;
}

.networkLogo.selected {
  opacity: 1;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 20px;
}

.formLabel {
  display: flex;
  font-size: 25px;
  font-family: Poppins;
  margin-bottom: 10px;
  color: #0F3FB2;
}

.formLabelCheckbox {
  font-size: 14px;
  font-family: Poppins;
   margin-bottom: 30px;
  color: #333;
}

.activeText {
  color: #0F3FB2;
}

.formGroup input {
  width: 70%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}




.input {
  border: 1px solid #ccc;
   
}

.inputActive {
  border-color: #0F3FB2; 
}




.errorMessage {
  color: red;
  margin-top: 30px;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.buttonSubmit,
.buttonCancel {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttonSubmit {
  background-color: #0F3FB2;
}

.buttonCancel {
  background-color: #f44336;
}

.formGroupCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Increased width */
  height: 34px; /* Increased height */
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;

  box-shadow: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; /* Increased height */
  width: 26px; /* Increased width */
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0F3FB2;
}

input:checked + .slider:before {
  transform: translateX(26px); /* Adjusted translateX value */
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mainDiv {
  
    margin-top: 200px;
 
  }

}
@media only screen and (min-width: 1025px) {
  .mainDiv {
  
    margin-top: 200px;
 
  }
}
