.mainDiv {
  margin: auto;
  width: 90%;
  max-width: 600px;
  background-color: white;
  padding: 2rem;
  padding-top: 70px; /* Adjust to the height of the header */
  border-radius: 50px;
  color: #333;
  position: relative;
  z-index: 2; /* Ensure it appears on top of the header */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.background {
  padding: 20px;
  position: relative;
  z-index: 2;
  border-radius: 50px 50px 0 0;
  background: white;
}

.modalTitle {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; /* Ensure it spans the full width of the header */
}

.networksRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

.networkLogo {
  width: 50px;
  cursor: pointer;
  opacity: 0.6;
}

.networkLogo.selected {
  opacity: 1;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 40px;
  margin-top: 70px;
}

.formLabel {
  display: flex;
  font-size: 25px;
  font-family: Poppins;
  margin-bottom: 10px;
  color: #0F3FB2;
}

.formLabelCheckbox {
  font-size: 14px;
  font-family: Poppins;
  margin-bottom: 20px;
  color: rgb(130, 130, 130);
}

.activeText {
  color: #0F3FB2;
}

.formGroup input {
  width: 70%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.input {
  border: 1px solid #ccc;
}

.inputActive {
  border-color: #0F3FB2;
}

.eyeIcon2 {
  margin-left: 330px;
  margin-top: -55px;
}

.errorMessage {
  color: red;
  margin-top: 30px;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.buttonSubmit,
.buttonCancel {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttonSubmit {
  background-color: #0F3FB2;
}

.buttonCancel {
  background-color: #DEDADA;
  color :  #000000;

}

.formGroupCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
  border: none;
  box-shadow: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  border: none;
  box-shadow: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  border: none;
}

input:checked + .slider {
  background-color: #0F3FB2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.bundle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  margin: 0;
}

.bundle h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  color: #0F3FB2;
}

.bundleDetails {
  width: 370px;
  height: 107px;
  border-radius: 20px;
  background: rgb(15, 63, 178);
  margin-bottom: 50px;
}

.detailHead {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  padding-left: 20px;
  color: #FFFFFF;
}

.detail {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 130px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(15, 63, 178);
  border-radius: 30px 20px 0 0;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 50px;
  z-index: 0; /* Ensure it is behind the mainDiv */
}

.cancelIcon {
  position: absolute;
  left: 20px; /* Adjust based on your design */
  top: 50%; /* Vertically center */
  transform: translateY(-50%); /* Vertically center */
  cursor: pointer;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .mainDiv {
    margin-top: 180px;
  }
}

@media only screen and (min-width: 1025px) {
  .mainDiv {
    margin-top: 200px;
  }
}
