.side-nav-container {
  position: fixed !important;
  height: 100% !important;
  width: 14%;
  background-color: #0e093f;
  /* padding-left: 15px; */
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* padding: 0 0 0 40px !important; */
  overflow: auto !important;
  z-index: 20000;
  overflow-y: scroll;
}
.side-nav-container .nav-logo{
  width: 120px; 
  height: 20px;
  margin: auto;
  max-width: 100%;
}
.side-nav-container span {
  color: #fff;
  font-size: 40px !important;
}

.top {
  display: flex;
  width: 100% !important;
  padding: 10px;
}

.nav-options {
  display: flex !important;
  flex-direction: row !important;
  padding-left: 10% !important;
  /* border: 1px solid #000 !important; */
  margin-left: -1rem !important;
  width: fit-content !important;
  /* overflow-x: scroll !important; */
}
.nav-options ul li img{
  margin:10px
}
.nav-options ul li {
  word-wrap: nowrap !important;
  line-height: 50px !important;
  width: max-content !important;
  font-family: AgrandirBold !important;
  /* margin-left: auto !important; */
  /* margin-right: auto !important; */
  font-size: 80% !important;
  font-weight: bold !important;
  /* border: 1px solid #000 !important; */
}
.nav-options ul li i {
  font-size: 23px !important;
}

.bottom-options ul li small {
  font-size: 23px !important;
  /* margin-right: 20px; */
}

.slide-right {
  animation: 1s slide-right !important;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}


@media screen and (max-width: 700px) {
  .my-tweak {
    /* margin-top: 5px !important; */
  }

  .top {
    display: none;
  }

  .nav-options {
    margin-top: 10px;
  }

  .nav-options .text-link {
    width: 100%;
  }

  .bottom-options {
    margin-top: 10px !important;
  }
}

.nav-options .text-link {
  text-decoration: none;
  color: #fff;
  /* padding-bottom: 15px; */
  width: 100%;
  font-family: AgrandirRegular;
}

.bottom-options {
  display: flex !important;
  flex-direction: row !important;
  font-size: small !important;
  /* margin-left: -1rem !important; */
  margin-top: auto !important;
  width: 100% !important;
  /* border: 1px solid #000 !important; */
}

.bottom-options span {
  /* border: 1px solid #000 !important; */
  margin: auto !important;
}
.bottom-options .bottom-link {
  width: 100% !important;
  color: #fff;
  /* padding: 5% !important; */
  font-family: AgrandirBold;
  text-decoration: none;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 1px solid #000 !important;
}
.navbar-logo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu {
  padding-top: 30px !important;
  /* padding-bottom: 20px !important; */
}
.list-unstyled .active {
  background: #fff !important;
  padding: 10px;
  color: #0b0230 !important;
  font-weight: bold !important;
  border-radius: 10px;
  transition: 0.5s ease;
}
.side-nav-container li a:hover {
  background: #fff !important;
  padding: 10px;
  color: #0b0230 !important;
  font-weight: bold !important;
  border-radius: 10px;
  transition: 0.5s ease;
}
@media (max-width: 1024px) and (min-width: 621px) {
  .side-nav-container {
    width: 20% !important;
  }
  .nav-options {
    margin-left: -2rem;
  }
  .nav-logo {
    width: 100% !important;
    height: 20px !important;
    /* margin-left: -2rem; */
  }
  .nav-options ul li {
    /* margin-bottom: -10px; */
  }
  .bottom-options {
    /* margin-left: -2rem; */
  }
}
.bottom-options ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 621px) {
  .open-close-icons {
    display: none !important;
  }
}

@media screen and (max-width: 620px) {
  .side-nav-container {
    /* display: none; */ 
    width: 55% !important;
    transition: 1s ease;
    margin-top: 0;
    border: 1px solid;
    margin-left: -10px;
    padding-left: 15px;
    overflow-y: hidden;
    height: 100vh;
    border-radius: 0;
  }
  .TopNav-logo-sm{
    max-width: 150%;
    width: 150px;
    margin-left: 10px;
  }
  .side-nav-container #close-menu{
    /* border: 1px solid; */
    width: 50px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    top: -1%;
    right: 0;
  }
  .side-nav-container .logo{
    display: none !important;
  }

  .bottom-options {
    width: fit-content !important;
    margin-left: -1rem !important;
    /* border: 1px solid #000 !important; */
  }

  .bottom-options ul {
    margin-top: 50px !important;
    margin-left: 0.5rem !important;
    width: 100% !important;
    /* border: 1px solid #000 !important; */
    /* margin-top: 0px !important; */
  }
  .sm-nav {
    border: 1px solid;
  }
  .logo {
    /* display: none; */
    width: 100% !important;
    margin-top: -5rem;
    margin-left: -3em !important;
  }

  .nav-options {
    /* border: 1px solid #000 !important; */
    width: 100% !important;
  }

  .nav-options ul {
    margin-top: 0rem;
    margin-left: -1rem;
  }

  .nav-options ul li {
    margin-left: 0.5rem !important;
  }
  .nav-sm {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    margin-top: -1rem;
  }
}