/* General card container */
.cardsContainer{
    background-color: #0B0230;
    padding-block: 2rem;
}
/* Card categories styling */
#cardcategories{
    width: 90%;
    text-align: center;
    border-radius: 10px;
    background-color: #201E34;
    box-shadow: 4px 4px 2px 2px #00000066;
}
.Kyc-upgrade-notice{
    font-family: Agrandir;
    font-size: 14px;
    color: white;
    padding: 24px 32px;
    border-radius: 10px;
    text-align: justify;
    margin-left: auto;
    background-color:#0C0C0C;
}
#Kyc-upgrade-notice-1{
    margin-left: auto;
}
.Kyc-upgrade-notice .gold{
    font-weight: 700;
    color: #F49B09;
}
.Kyc-upgrade-notice strong{
    font-weight: 800;
    color: #F49B09;
    font-size: 14px;
}
.Kyc-upgrade-notice .limit{
    font-style: italic;
    font-weight: 900;
    color: #CD4729;
}

/* My cards section */
#mycards{
    border-radius: 10px;
    background-color: #201E34;
    width: 60%;
}
.card-balance{
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
.card-balance img{
    background-color: #353255;
    padding: 5px;
    outline: 7px solid #353255;
    border: none;
    border-radius: 50%;
}
.card-balance main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.card-balance small{
    color: #929EAE;
}
.Upgrade-con{
    margin-top: 10rem;
}
.upgrade-card-btn{
    border: none;
    padding-block: 20px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    width: 90%;
    background-color: #282541;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.upgrade-card-btn span {
    margin-right: 1rem;
}
