.card-balance {
  display: flex;
  gap: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-left: 33px;
}
@media screen and (max-width: 620px) {
  .card-balance {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0px;
    width: 120%;
    padding: 20px 10px;
    margin-right: 2rem;
  }
  .card-balance img{
    margin-left: -1rem;
  }
}
@media (max-width:1024px) and (min-width: 621px){
  .card-balance{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  .card-balance h4{
    font-size: 15px;
  }
}
.card-balance img {
  background-color: #353255;
  padding: 5px;
  outline: 7px solid #353255;
  border: none;
  border-radius: 50%;
}
.card-balance main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.card-balance small {
  color: white;
}
