.image-item img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}
.image-item {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #eaeffe;
  padding: 0 !important;
  margin-right: 10px !important;
}
.file-upload-div {
  width: 100%;

  display: flex;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
}
.file-upload-div h3 {
  font-family: AgrandirBold;
  font-weight: 900;
  color: #000000;
  margin-top: 10px;
}
