.image-item img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 20px;
}
.image-item {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: red;
}
.file-upload-div {
  width: 100%;
  font-size: 30px;
  display: flex;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
}
