.flex-column {
  height: 100% !important;
  width: 100% !important;
  background-color: #0e093f;
}

.top {
  display: flex;
  width: 100% !important;
  padding-top: 10px !important;
}

.nav-options {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

@media screen and (max-width: 700px) {
  .my-tweak {
    margin-top: 5px !important;
  }

  .top {
    display: none;
  }

  .nav-options {
    margin-top: 10px;
  }

  .nav-options .text-link {
    width: 100%;
  }

  .bottom-options {
    margin-top: 20px !important;
  }
}

.nav-options .text-link {
  text-decoration: none;
  color: #fff;
  padding-bottom: 15px;
  width: 100%;
  font-family: AgrandirRegular;
}

.bottom-options {
  display: flex;
  flex-direction: column;
  margin-top: 100%;
}

.bottom-options .bottom-link {
  color: #fff;
  padding-bottom: 15px;
  font-family: AgrandirRegular;
  text-decoration: none;
}
