.navContainer {
  position: absolute;
  /* width: 258px; */
  height: 100%;
  left: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* margin-inline: auto; */
  background-color: #0e093f;
  border-radius: 0px 50px 50px 0px;
}
@media screen and (max-width: 620px) {
  .navContainer {
    display: none;
  }
}
.navBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 354px;
  position: absolute;
  width: 200px;
  height: 700px;
  left: 29px;
  top: 139px;
}

.navOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  width: 200px;
  height: 248px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dashboardActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 81px 14px 15px;
  gap: 12px;
  width: 175px;
  height: 48px;
  text-decoration: none;
  background: #ffffff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dashboardOption {
  margin-top: 10px;
  height: 18px;
  font-family: "Agrandir";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* Text Color/Text 1 */
  color: #1b212d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.transactionOption {
  width: 100px;
  height: 18px;
  margin-left: 15px;
  margin-top: 10px;
  font-family: "Agrandir";
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.invoicesOption {
  width: 90px;
  height: 18px;
  margin-top: 20px;
  margin-left: 15px;
  font-family: "Agrandir";
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.myCardOption {
  width: 90px;
  height: 18px;
  margin-top: 20px;
  margin-left: 15px;
  font-family: "Agrandir";
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.settingsOption {
  width: 90px;
  height: 18px;
  margin-top: 20px;
  margin-left: 15px;
  font-family: "Agrandir";
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.navBottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  width: 200px;
  height: 50px;
  top: 380px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.dashboardHelp {
  position: absolute;
  width: 90px;
  height: 18px;
  font-family: "Agrandir";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  left: 25px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.dashboardLogout {
  position: absolute;
  width: 90px;
  height: 18px;
  font-family: "Agrandir";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  top: 30px;
  left: 25px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logoPosition {
  position: absolute;
  width: 200px;
  height: 32px;
  left: 29px;
  top: 38px;
}
